@{
    ViewBag.Title = "Filters";
}

<link href="~/Content/popup.css" rel="stylesheet" />

<div class="container container-form">
    <div class="row">
        <div style="margin-right: 20px; margin-top: 15px;">
            <h3 class="pull-left" style="margin: 20px 0px 40px 0px">Filters</h3>
            <i class="fa fa-plus fontbutton-style" style="padding: 5px 6px 3px 6px; margin: 20px 5px 5px 10px;" onclick="ShowCreateNewFilterPopup()"></i>

            @Html.Partial("~/Views/Popup/CreateNewFilter.cshtml")

            <div class="search-bar pull-right" style="margin-top: 18px;" id="searchTextOnPage">
                <form role="search" style="display: flex;">
                    <input type="text" class="form-control search-bar" style="border: 0px; box-shadow: 0 0 0" placeholder="Search">
                    <span>
                        <button type="submit" class="search-page-btn">
                            <span class="icon-search navSearchIcon search-span-icon"></span>
                        </button>
                    </span>
                </form>
            </div>
        </div>

        <div>
            <label class="short-info" style="margin-left: -39px;">Sort by:</label>
            <div class="dropdown" style="display: inline">
                <form style="display:inline">
                    <button class="dropdown-toggle bootrap-btndrop-modif" type="submit" data-toggle="dropdown">
                        Title
                        <span class="caret" style="border-top-color: #92c1ba"></span>
                    </button>
                    <ul class="dropdown-menu bootrap-dropdown-ul-modif" style="padding: 0px">
                        <li><a href="#">Title</a></li>
                        <li><a href="#">Status</a></li>
                        <li><a href="#">Priority</a></li>
                        <li><a href="#">Assignee</a></li>
                    </ul>
                </form>
            </div>
        </div>

        <div class="row" style="margin: 15px">
            @for (int i = 0; i < 9; ++i)
            {
                <div class="col-md-4" style="overflow:no-display">
                    <div class="table-elem shadow-div">
                        <h4 class="h4-zero-topmargin" style="margin-bottom: 10px"> The Financier</h4>
                        <div class="filters-inr-divblc">
                            <div class="filter-info-col" style="padding-left: 1px">
                                <span>
                                    <label>Search:</label>
                                </span> <br />
                                <span>
                                    <label>Status:</label>
                                </span> <br />
                                <span>
                                    <label>Priority:</label>
                                </span> <br />
                            </div>
                            <div class="filter-info-col col-helper" style="width: 70px;">
                                <span>
                                    <label>Search_Value</label>
                                </span> <br />
                                <span>
                                    <label>Status_Value</label>
                                </span> <br />
                                <span>
                                    <label>Priority_Value</label>
                                </span> <br />
                            </div>
                            <div class="filter-info-col" style="margin-left: -15px; padding-left: 10px; margin-top: 13px">
                                <span>
                                    <label>Project:</label>
                                </span><br />
                                <span>
                                    <label>Assignee:</label>
                                </span><br />
                            </div>
                            <div class="filter-info-col col-helper" style="padding-left: 10px; margin-top: 13px; width: 80px;">
                                <span>
                                    <label>Project_Value</label>
                                </span><br />
                                <span>
                                    <label>Assignee_Value</label>
                                </span><br />
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <p class="pull-left p i, label zero-merg p label">
                <i class="fa fa-filter  info-icon"></i> <label style="margin-right: 2px">Projects:</label> <label>35</label>
            </p>
        </div>

    </div>
</div>



<script>
    function ShowCreateNewFilterPopup() {
        $("#createUserPopup").dialog({
            width: 600,
            fluid: true,
            title: "Create new user",
            modal: true,
            resizable: false,
            show: { effect: 'clip', duration: 350 },
            hide: { effect: 'clip', duration: 350 },
            buttons: [
        {
            text: "Create",
            "class": 'popup-button',
            click: function () {
                $(this).dialog("close");
            }
        },
            ],
            close: function () {
            }
        });
        $("*").trigger('blur');
    }
</script>