@{
    ViewBag.Title = "Users";
}

<link href="~/Content/popup.css" rel="stylesheet" />

<div class="container container-form">
    <div class="row">
        <div style="margin-right: 20px; margin-top: 15px;">
            <h3 class="pull-left" style="margin: 20px 0px 40px 0px">Users</h3>
            <i class="fa fa-plus fontbutton-style" style="padding: 5px 6px 3px 6px; margin: 20px 5px 5px 10px;" onclick="ShowCreateNewUserPopup()"></i>

            @Html.Partial("~/Views/Popup/CreateNewUser.cshtml")

            <div class="search-bar pull-right" style="margin-top: 18px;" id="searchTextOnPage">
                <form role="search" style="display: flex;">
                    <input type="text" class="form-control search-bar" style="border: 0px; box-shadow: 0 0 0" placeholder="Search">
                    <span>
                        <button type="submit" class="search-page-btn">
                            <span class="icon-search navSearchIcon search-span-icon"></span>
                        </button>
                    </span>
                </form>
            </div>
        </div>

        <div>
            <label class="short-info" style="margin-left: -39px;">Sort by:</label>
            <div class="dropdown" style="display: inline">
                <form style="display:inline">
                    <button class="dropdown-toggle bootrap-btndrop-modif" type="submit" data-toggle="dropdown" style="background: transparent !important;">
                        Title
                        <span class="caret" style="border-top-color: #92c1ba"></span>
                    </button>
                    <ul class="dropdown-menu bootrap-dropdown-ul-modif" style="padding: 0px">
                        <li><a href="#">Title</a></li>
                        <li><a href="#">Status</a></li>
                        <li><a href="#">Priority</a></li>
                        <li><a href="#">Assignee</a></li>
                    </ul>
                </form>
            </div>
        </div>

        <div class="row" style="margin: 15px">
        @for (int i = 0; i < 9; ++i)
        {
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="table-elem shadow-div">
                    <i class="fa fa-times-circle delete-form-icon pull-right"></i>
                    <img src="~/Content/img/ava1.jpg" class="users-av" />
                    <div class="users-info-helper">
                        <p class="zero-merg" style="font-size: 85%">George Orwell</p>
                        <p class="zero-merg" style="font-size: 75%">Orwell@@bigbrother.com.oc</p>
                    </div>
                    <div class="row">
                        <p class="pull-right label zero-merg p label info-block" style="margin-top: 17px !important;">
                            <i class="fa fa-edit  info-icon"></i> <label>127</label>
                            <i class="fa fa-th-list  info-icon"></i> <label>6</label>
                        </p>
                    </div>
                </div>
            </div>
        }

        </div>

        <div class="row">
            <p class="pull-left p i, label zero-merg p label">
                <i class="fa fa-users  info-icon"></i> <label style="margin-right: 2px">Users:</label> <label>35</label>
            </p>
        </div>

    </div>
</div>


<script>
    function ShowCreateNewUserPopup() {
        $("#createUserPopup").dialog({
            width: 600,
            fluid: true,
            title: "Create new user",
            modal: true,
            resizable: false,
            show: { effect: 'clip', duration: 350 },
            hide: { effect: 'clip', duration: 350 },
            buttons: [
        {
            text: "Create",
            "class": 'popup-button',
            click: function () {
                $(this).dialog("close");
            }
        },
            ],
            close: function () {
            }
        });
        $("*").trigger('blur');
    }
</script>