
@{
    ViewBag.Title = "Page not found";
}
<div class="center">
    <h1 class="text-danger" style="text-align:center; color:darkslategrey;font-size:72px;">Oops!</h1>
    <h2 class="text-danger" style="text-align:center; color:darkslategrey;">Seems like the page is mising!</h2>
</div>


<style>
    .center {
        position: absolute;
        height: 200px;
        top: 50%;
        left: 55%;
        margin-left: -261px;
        margin-top: -200px;
    }
</style>