<div id="AddUsersToProjectPopup" class="table-responsive popup-common">

    <div class="row">
        <div class="col-xs-12" style="position:relative;">
            <div class="ui-widget-content form-control popup-field popup-text-area" id="container-resizable"style="overflow-y:scroll; padding-left: 0px; position:relative; min-height: 175px !important; margin-bottom:5px;">
                @for (int i = 0; i < 15; ++i)
                {
                    <div class="popup-option-row">
                        <input type="checkbox" class="custom-checkbox-1" style="margin-left: 10px; margin-top:12px;"/>
                        <img src="~/Content/img/ava1.jpg" class="users-av-smaller"/>
                        <dev style="display:inline-block;max-width: 250px;">
                            <label class="text-medium">Name </label>
                            <label class="text-medium">Surname</label>
                            <p style="">
                                <label class="text-small">emailexample@gmail.com</label>
                            </p>
                        </dev>
                        <span class="pull-right">
                            <label class="text-small" style="font-size:11px; vertical-align:-webkit-baseline-middle;  margin-right: 60px; margin-top: 10px;">Role</label>
                        </span>
                    </div>
                }
            </div>

            <div class="header" style="display: flex; justify-content: space-between;">
                <div class="nav">
                    <a>
                        <label class="text-small">Users: </label>
                    </a>
                    <a>
                        <label class="text-small">15</label>
                    </a>
                </div>
                <div class="nav">
                    <a>
                        <label class="text-small">Chosen: </label>
                    </a>
                    <a>
                        <label class="text-small" id="counter">0</label>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
  $(function() {
      $("#container-resizable").resizable();
  });
</script>


<script>
    $(window).load(function () {
        $(":checkbox").on("change", function () {
            $(this).parent().toggleClass("popup-option-checked", this.checked);
        });
    });
</script>

<script>
    $(":checkbox").click(function () {

        // find closest category parent div
        var $cat = $(this).closest(".popup-text-area");

        // get checkbox within category, check length
        var len = $cat.find(":checkbox:checked").length;

        $("#counter").html(len);
    });
</script>

<style>
    #container-resizable {
    resize: both;
    }

    .add-users-to-project-popup .ui-widget-header:before {
        margin-left: 1em;
        content: "\f0c0";
        font-family: FontAwesome;
        left: -1px;
        position: absolute;
        top: 15px;
        color: rgb(248, 254, 254);
        font-size: 16px;
        font-weight: 100;
    }
</style>