<div id="createUserPopupTask" class="table-responsive popup-common">

    <div class="row">
        <div class="col-xs-12">
            @Html.TextBox("Task title", null, "", htmlAttributes: new { @class = "form-control popup-field", placeholder = "Title" })
        </div>
    </div>

    <div class="row">
        <div class="container col-xs-6" id="wrap">
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle popup-dropdown" data-toggle="dropdown">Project <span class="popup-arrow icon-arrow1 pull-right"></span></button>
                <ul class="dropdown-menu scrollable-menu" role="menu">
                    <li><a href="#">The Titan</a></li>
                    <li><a href="#">Hearthstone</a></li>
                </ul>
            </div>
        </div>

        <div class="container col-xs-6" id="wrap">
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle popup-dropdown" data-toggle="dropdown">Owner <span class="popup-arrow icon-arrow1 pull-right"></span></button>
                <ul class="dropdown-menu scrollable-menu" role="menu">
                    <li><a href="#">Steve</a></li>
                    <li><a href="#">Jobs</a></li>
                </ul>
            </div>
            <div class="advanced-search-link pull-right" style="display: inline-block; margin-top: -13px; position:absolute; z-index: 2000; left: 70%;">
                Assign to me
            </div>
        </div>

    </div>

    <div class="row">
        <div class="container col-xs-6" id="wrap">
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle popup-dropdown" data-toggle="dropdown">Priority <span class="popup-arrow icon-arrow1 pull-right"></span></button>
                <ul class="dropdown-menu scrollable-menu" role="menu">
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                </ul>
            </div>
        </div>

        <div class="container col-xs-6" id="wrap">
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle popup-dropdown" data-toggle="dropdown">Status <span class="popup-arrow icon-arrow1 pull-right"></span></button>
                <ul class="dropdown-menu scrollable-menu" role="menu">
                    <li><a href="#">John</a></li>
                    <li><a href="#">Snow</a></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                @Html.TextArea("Task text", htmlAttributes: new { @class = "form-control popup-field popup-text-area", placeholder = "Description" })
            </div>
        </div>

        <p style="padding-left: 11px; font-weight:bold; font-size:13px;">
            Attachments <i class="fa fa-plus fontbutton-style  fa-custom-button" style="padding: 3px 3px 2px 4px;font-size: 110%;border: solid 1px; border-radius: 20px;"></i>
        </p>

    </div>

</div>

<style>
    .create-new-task-popup .ui-widget-header:before {
        margin-left: 1em;
        content: "\f044";
        font-family: FontAwesome;
        left: -1px;
        position: absolute;
        top: 15px;
        color: rgb(248, 254, 254);
        font-size: 20px;
        vertical-align: middle;
        font-weight: 100;
    }
</style>