html {
  height: 100%;
}

* {
    border: none !important;
  border-radius: 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

body {
    margin: 0;
    padding: 0;
  min-height: 100%;
  background-color: #4D868D;
}
#loginForm{
    margin: 0px auto;
}

.white {
    color:white;
}

.backColor {
    background-color: #A3C2C6;
}

#parent {
    position:fixed;
   display: table;
   width: 100%;
   height: 100%;
   margin-top: -15px;
}
#centerForm {
    height:100%;
   display: table-cell;
   text-align: center;
   vertical-align: middle;
}

.Input {
    margin:10px auto 0px auto;
    vertical-align: middle;
}

.login-form {
    padding-top: 0;
}


::-webkit-input-placeholder {
    font-size: 11px;
    color:white !important;

}
::-moz-placeholder          {
    font-size: 11px;
    color:white !important;

}
:-moz-placeholder           {
    font-size: 11px;
    color:white !important;

}
:-ms-input-placeholder      {
    font-size: 11px;
    color:white !important;

}


.icon-biglogo1 {
    color: white;
    font-size: 200px;
    line-height: 186px;
    position: relative;
    bottom: 15px;
    margin-top: 40px;

    position: fixed;
    width: 500px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin-top: -400px; /* Negative half of height. */
    margin-left: -100px;
}

.row {
    margin-top: -15px;
}

.form-control {
    color: white;
    font-size: 11px;
    vertical-align: central;
    align-items: center;
    margin: 7px auto;
    height: 38px;
    width: 370px;
    max-width:400px;
}

.form-group {
    margin-bottom: 0;
}

.color2 {
    color: #A3C2C6;
}


.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    float:none;
    color: white;
    background: #A3C2C6;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    width: 200px;
    height: 40px;
    color: #E3F0F2;
    background-color: #A3C2C6; 
}

.radio label, .checkbox label:hover {
    color:white;
    text-decoration: underline;
}
.rightText {
    margin-left: +140px;
}

a:hover {
    color:white;
}

.textLogo {
position: fixed;
width: 500px;
height: 200px;
top: 50%;
left: 50%;
margin-top: -180px;
margin-left: -63px;
}

.text-danger {
    display: block;
    height: 10px;
    color: rgb(220, 165, 148);
    line-height: 1;
}

.text-danger  .validation-summary-errors{
    display: block;
    height: 10px;
}

.text-danger > ul {
    list-style: none;
    margin: 0px;
}

.field-validation-error{
     color: rgb(220, 165, 148);
     
     
}

#fgtPswrdText{
    margin-bottom: 15px;
    margin-top: 7px;
}

#fgtPswdSubmit{
    margin-top: 23px;
    color: #4D868D;
    background-color: rgb(227, 240, 242);
    width: 175px;
}

#LoginLink {
    text-decoration: underline;
    margin-top: 5px;
}
