<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Azure Storage and SendGrid: asignarprojectstorage, Test1 -->
    <add key="AsignarAzureStorage" value="DefaultEndpointsProtocol=https;AccountName=asignarprojectstorage;AccountKey=OyCEf/oZ2JXITfV5J6nTnbpjJ+iyrPDwRsrbpL+OWz0372ph/3TEM5DR8SEKziQRrIX9IzwVIZ94HF/lTkw47g==" />
    <add key="AsignarNotificationAPI" value="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" />
    <add key="ResetPasswordSendGridTemplateId" value="729623f4-ace6-4555-8f68-2c353b1e74c4" />
    <add key="BugConditionChangedSendGridTemplateId" value="5a6e24f6-7dd8-459c-9119-523d7ac98359" />
    <add key="BugReassignedSendGridTemplateId" value="985baa27-3be9-40ad-8339-aa0124d8141e" />
  </appSettings>
  <connectionStrings>
    <!-- The format of the connection string is "DefaultEndpointsProtocol=https;AccountName=NAME;AccountKey=KEY" -->
    <!-- For local execution, the value can be set either in this config file or through environment variables -->
    <add name="AsignarAzureStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=asignarprojectstorage;AccountKey=OyCEf/oZ2JXITfV5J6nTnbpjJ+iyrPDwRsrbpL+OWz0372ph/3TEM5DR8SEKziQRrIX9IzwVIZ94HF/lTkw47g==" />
    <add name="AzureWebJobsDashboard" connectionString="" />
  </connectionStrings>
    <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>